# CRAB files
*.root
*crab_*_*
*crab.history
*~

# Custom
QCD_Pt_X_X_5020GeV_TuneCUETP8M1_cfi_GEN_SIM_PU_DIGIRAW/step2_DIGI_L1_DIGI2RAW_HLT_RAW2DIGI_L1Reco_PU_*
QCD_Pt_X_X_5020GeV_TuneCUETP8M1_cfi_GEN_SIM_PU_FOREST/runForest_pp_MC_75X_*
QCD_Pt_X_X_5020GeV_TuneCUETP8M1_cfi_GEN_SIM_PU_GENSIM/QCD_TuneCUETP8M1_cfi_GEN_SIM_*


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
